# Data cleaning

### Import libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Load scraped data

In [3]:
raw_data = pd.read_csv('../Datasets/Chords_encoded.csv', index_col=0)
raw_data

,Artists,Songs,Rating,Votes,Level,A,A#,A#dim,A#m,A(maj),...,Gmaj7/D,Go,Gsus,Gsus2,Gsus2/A,Gsus2/C,Gsus4,Gsus4/B,H,Ho
0,jeff buckley,hallelujah,4.87,39010,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,john legend,all of me,4.83,19766,advanced,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,ed sheeran,perfect,4.85,30548,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,passenger,let her go,4.84,16657,intermediate,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,jason mraz,im yours,4.74,11924,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,the marshall tucker band,cant you see,4.80,1966,novice,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,lessons guitar,all the chords,4.92,2670,intermediate,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,creedence clearwater revival,fortunate son,4.65,457,intermediate,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,no doubt,dont speak,4.82,1147,advanced,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,alicia keys,no one,4.77,510,intermediate,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
raw_data[["Artists","Songs","Rating","Votes","Level"]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Artists  1000 non-null   object
 1   Songs    1000 non-null   object
 2   Rating   1000 non-null   object
 3   Votes    1000 non-null   int64
 4   Level    999 non-null    object
dtypes: int64(1), object(4)
memory usage: 46.9+ KB

## Data copy & transformation

### Copy

In [5]:
data = raw_data.copy()

### Drop outliers indexed 488, 676 & 996

In [6]:
data.iloc[[996,676,488]]

,Artists,Songs,Rating,Votes,Level,A,A#,A#dim,A#m,A(maj),...,Gmaj7/D,Go,Gsus,Gsus2,Gsus2/A,Gsus2/C,Gsus4,Gsus4/B,H,Ho
996,lessons guitar,all the chords,4.92,2670,intermediate,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
676,xtc,ball and chain,"0,&q",0,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
488,jack johnson,better together,4.73,510,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
data = data.drop([996,676,488])

In [8]:
data[["Artists","Songs","Rating","Votes","Level"]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 997 entries, 0 to 999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Artists  997 non-null    object
 1   Songs    997 non-null    object
 2   Rating   997 non-null    object
 3   Votes    997 non-null    int64
 4   Level    997 non-null    object
dtypes: int64(1), object(4)
memory usage: 46.7+ KB

### Drop Non referenced artists 'tab'

In [15]:
data[data["Artists"]=="tab"]

,Artists,Songs,Rating,Votes,Level,A,A#,A#dim,A#m,A(maj),...,Gmaj7/D,Go,Gsus,Gsus2,Gsus2/A,Gsus2/C,Gsus4,Gsus4/B,H,Ho
94,tab,759809,4.86,2802,novice,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
257,tab,188005,4.77,1315,advanced,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
593,tab,759410,4.82,419,advanced,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
604,tab,511322,4.62,354,advanced,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
633,tab,1148667,4.84,237,intermediate,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
705,tab,594514,4.76,311,advanced,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
845,tab,745630,4.82,998,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
987,tab,1446000,4.67,94,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
data.drop(list(data[data["Artists"]=="tab"].index),inplace=True)

In [17]:
data

,Artists,Songs,Rating,Votes,Level,A,A#,A#dim,A#m,A(maj),...,Gmaj7/D,Go,Gsus,Gsus2,Gsus2/A,Gsus2/C,Gsus4,Gsus4/B,H,Ho
0,jeff buckley,hallelujah,4.87,39010,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,john legend,all of me,4.83,19766,advanced,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,ed sheeran,perfect,4.85,30548,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,passenger,let her go,4.84,16657,intermediate,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,jason mraz,im yours,4.74,11924,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,tracy chapman,fast car,4.81,583,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
995,the marshall tucker band,cant you see,4.80,1966,novice,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,creedence clearwater revival,fortunate son,4.65,457,intermediate,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,no doubt,dont speak,4.82,1147,advanced,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,alicia keys,no one,4.77,510,intermediate,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Drop H & Ho columns

In [18]:
data = data.drop(["H","Ho"],axis=1)
data

,Artists,Songs,Rating,Votes,Level,A,A#,A#dim,A#m,A(maj),...,Gmaj,Gmaj7,Gmaj7/D,Go,Gsus,Gsus2,Gsus2/A,Gsus2/C,Gsus4,Gsus4/B
0,jeff buckley,hallelujah,4.87,39010,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,john legend,all of me,4.83,19766,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,ed sheeran,perfect,4.85,30548,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,passenger,let her go,4.84,16657,intermediate,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,jason mraz,im yours,4.74,11924,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,tracy chapman,fast car,4.81,583,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
995,the marshall tucker band,cant you see,4.80,1966,novice,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,creedence clearwater revival,fortunate son,4.65,457,intermediate,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,no doubt,dont speak,4.82,1147,advanced,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,alicia keys,no one,4.77,510,intermediate,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Change rating type as float

In [19]:
data["Rating"] = data.Rating.astype('float64')

In [20]:
data[["Artists","Songs","Rating","Votes","Level"]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 989 entries, 0 to 999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Artists  989 non-null    object
 1   Songs    989 non-null    object
 2   Rating   989 non-null    float64
 3   Votes    989 non-null    int64
 4   Level    989 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 46.4+ KB

In [21]:
data[["Artists","Songs","Level"]].describe()

             Artists       Songs     Level
count            989         989       989
unique           408         777         3
top     taylor swift  hallelujah  advanced
freq              33           6       746

In [22]:
data[["Rating","Votes"]].describe()

           Rating         Votes
count  989.000000    989.000000
mean     4.773731   1948.488372
std      0.137249   2880.260299
min      3.540000      3.000000
25%      4.740000    501.000000
50%      4.810000   1133.000000
75%      4.850000   2222.000000
max      4.930000  39010.000000

### Check duplicates & re-index

In [23]:
data.drop_duplicates(ignore_index=True)

,Artists,Songs,Rating,Votes,Level,A,A#,A#dim,A#m,A(maj),...,Gmaj,Gmaj7,Gmaj7/D,Go,Gsus,Gsus2,Gsus2/A,Gsus2/C,Gsus4,Gsus4/B
0,jeff buckley,hallelujah,4.87,39010,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,john legend,all of me,4.83,19766,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,ed sheeran,perfect,4.85,30548,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,passenger,let her go,4.84,16657,intermediate,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,jason mraz,im yours,4.74,11924,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,tracy chapman,fast car,4.81,583,advanced,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
985,the marshall tucker band,cant you see,4.80,1966,novice,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
986,creedence clearwater revival,fortunate son,4.65,457,intermediate,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
987,no doubt,dont speak,4.82,1147,advanced,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
988,alicia keys,no one,4.77,510,intermediate,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

<font color=blue>**No duplicates found**

### Chords frequency

In [24]:
data.iloc[:,5:].sum().sort_values(ascending=False)

G         783
C         673
D         588
Em        476
Am        443
         ...
Dm7/G       1
Dm7b5       1
C#m7/B      0
F/Ab        0
E/G         0
Length: 446, dtype: int64

In [25]:
data.iloc[:,5:].sum().nlargest(5)

G     783
C     673
D     588
Em    476
Am    443
dtype: int64

In [26]:
data.iloc[:,5:].sum().nlargest(20)

G        783
C        673
D        588
Em       476
Am       443
F        371
A        323
E        244
Bm       223
Dm       177
F#m      128
B        113
Em7      102
Bb       101
D/F#      98
G/B       81
A7        79
Cadd9     76
C#m       74
D7        74
dtype: int64

## Export clean data

In [27]:
data.to_csv('../Datasets/Chords_clean.csv')